.Home {
  display: flex;
  justify-content: space-around;
  padding: 1vw;
  width: 100vw;
  height: 100vh;
  background-color: $bg-darkblue;
  @include media(">phone", "<=425px") {
    background-color: orange;
  }
  @include media("<=phone") {
    background-color: red;
  }
}

.Home__left {
  width: 62vw;
}

.Home__right {
  width: 33vw;
  margin-right: 2rem;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  @include container($padding-number: 2rem);
}

.Home__bottom {
  display: flex;
  @include container($padding-number: 3rem 2rem 1.5rem);
}

.Actions,
.FAQ,
.Contact {
  @include container($padding-number: 1rem 3rem);
}
