.Home {
  display: flex;
  justify-content: space-around;
  padding: 0 1vw;
  width: 100vw;
  height: 110vh;
  overflow: hidden;
  background-color: $bg-darkblue;
  overflow: scroll;
  @include phone {
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}

.Home__left {
  width: 62vw;
}

.Home__right {
  width: 33vw;
  margin-right: 2rem;
}

.Dashboard {
  display: flex;
  flex-direction: column;
  @include container($padding-number: 2rem);
  @include phone {
    height: 65vh;
    width: 88vw;
    margin: 1vh 0;
    padding: 2vh;
  }
}

.Home__bottom {
  display: flex;
  @include container($padding-number: 2rem 2rem 1rem);
}

.Actions,
.FAQ,
.Contact {
  @include container($padding-number: 1rem 3rem);
}

@include phone {
  .Home__mobile {
    display: flex;
    flex-direction: column;
    padding: 2vh 3vw;
    transform: translateX(-38vw);
    transition: 0.3s ease-out;
    .NavMobile {
      display: flex;
      justify-content: space-between;
      padding-top: 1vh;
      height: 10vh;
      .spacer {
        flex: 1;
      }
      p {
        display: flex;
      }
    }
  }
  .NavMobile__menu {
    font-size: 4vw;
    font-weight: 600;
    margin: 1.5vh 0 0 2vh;
  }

  .Home__mobile-buttons {
    display: flex;
    justify-content: space-between;
    padding: 4vh 0 2vh;
  }

  .SlideDrawer {
    transform: translateX(-50vw);
    transition: 0.3s ease-out;
  }

  .Home__mobile.open {
    transform: translateX(43vw);
  }

  .SlideDrawer.open {
    transform: translateX(34vw);
  }
}
