.Contact__container {
  display: flex;
  .spacer {
    flex: 1;
  }
}

.Contact__column {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}

a.Contact__info {
  display: flex;
  margin-bottom: 1.3vh;
  text-decoration: none;
  span {
    align-self: center;
    padding-left: 2rem;
  }
}
