.Dashboard__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  .spacer {
    flex: 1;
  }
  .mode-switch {
    align-self: center;
  }
  @include phone {
    margin: 1vh auto 3vh;
  }
}

.Dashboard__cardcontainer {
  display: flex;
  justify-content: space-between;
  @include phone {
    display: flex;
    flex-direction: column;
  }
}

.DashboardCard {
  text-align: right;
  width: 30%;
  margin: 0.5rem 1rem;
  @include phone {
    width: 90%;
  }
}

.DashboardCard__title {
  padding: 0 2vw 1vh 0;
  font-weight: 400;
  color: $baby-blue-inactive;
}

.DashboardCard__figure {
  @include container(
    $container-bg-color: $bg-middleblue,
    $margin-number: 2px 0,
    $radius-number: 10px
  );
  font-weight: 100;
  padding-right: 2vw;
  @include phone {
    width: 100%;
  }
}
