.dots {
  height: 2.2vw;
  width: 2.2vw;
  background-color: $white;
  margin: 0px 2vw;
  border-radius: 50%;
}

.dots.current {
  background-color: $light-blue;
}

.DotsWrapper {
  padding: 1.5vh 0;
  display: flex;
  justify-content: center;
}
