svg {
  fill: $baby-blue;
}

h2 > .header-icon {
  margin-right: 0.9rem;
}

.icon-telegram {
  fill: #1da1f2;
}

.icon-discord {
  fill: #5865f2;
}

.icon-twitter {
  fill: #1da1f2;
}

.icon-inactive {
  fill: $baby-blue-inactive;
}
